body{
  background-image: url("https://cdn.wallpapersafari.com/35/16/WhDLNG.png")
}
.jumbotron {
    background-color: darkcyan;
}
.wrapper {
  min-height: 80%;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

/* For aligning content to the horozontal center */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Gives even spacing between elements */
  .around {
    justify-content: space-around;
  }
  /* To make items line up */
  .line {
    display: flex;
  }
  /* Quick way to make things really bold */
  .boldest{
    font-weight: bolder;
  }